.label{
    padding: .2em .6em .2em !important;
    font-size: 80% !important;
}

.pull-center{
    text-align: center !important;
}

.background {
    background-image: url('image/background-birthday.jpg');
    background-size: cover;
    opacity: .6;
}

/* Botoes */
.margin-right{
    margin-right: 5px;
}
/* FIM-BOTOES */

.fonts-form{
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: uppercase;
}

/* Centralizar os valores das colunas */
td, th{
    text-align:center;
    vertical-align:middle;
}

.loading{
    background: url('image/loading.gif') no-repeat right;
    background-size: 20px;
    background-position: right 10px top 5px;
}

/* Visualizar Arquivos */
.image {
    opacity: 1;
    display: block;
    width: auto !important;
    height: 90px !important;
    transition: .5s ease;
    backface-visibility: hidden;
}

.load-arquivos{
    text-align: -webkit-center;
}

.load-arquivos:hover .image {
    opacity: 0.3;
    cursor: pointer;
}

/* Menu */
.checktree{
    margin-left: -35px !important
}

.checktree li{
    list-style-type: none;
}

/* ToolTip */
.tooltip-info {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-info .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-info .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-info:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}